html,body
{
height:100%;
width:100%;
}

#intro
{
background:url(image.jpg) no-repeat fixed;
width:100%;
height:100%;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
margin-top:-20px;
position:relative;

}
#b1
{
position :relative fixed;
bottom:400px;

}
#hello
{
position :relative;
color:red;
font-size:50px;
z-index:1;
}
.text-center
{
text-align:center;
vertical-align:middle;
}
